$primary-bg: #5e5e5e;
$text-color: #eeeeee;

.card {
  background-color: $primary-bg;
  width: calc(100% - 10px);
  margin: 10px;
  border-radius: 10px;
  height: 200px;
  display: block;
  color: $text-color;

  transition: {
    property: background-color;
    duration: 0.2s;
  }

  &:hover {
    background-color: lighten($primary-bg, 5);
  }
}

.card-left {
  width: fit-content;
  float: left;
}

.card-right {
  width: 70%;
  float: left;
}

.card-title {
  padding: 5px;
  font-size: 24px;
  margin-left: 10px;
}

.card-date {
  padding: 5px;
  font-size: 16px;
  color: darken($color: $text-color, $amount: 25);
  margin-left: 25px;
}

.card-poster {
  height: 200px;
  max-width: 100%;
  border-radius: 10px;
}

.card-footer {
  clear: both;
}