$primary-bg: #333333;
$secondary-bg: #424242;
$text-color: #eeeeee;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-bg;
  color: $text-color;
}

header {
  // width: 100%;
  padding: 25px 0 20px 20px;
  background-color: $secondary-bg;

  .title {
    width: fit-content;
    margin: 0;
    font-size: 36px;
  }
}

.header-about {
  float: right;
  width: 120px;
  font-size: 24px;
  height: 50px;
  text-align: center;
  background-color: lighten($secondary-bg, 15);
  padding-top: 10px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;

  transition: {
    property: background-color;
    duration: 0.2s;
  }

  &:hover {
    background-color: lighten($primary-bg, 25);
  }
}

.search-bar {
  position: sticky;
  position: -webkit-sticky;
  padding: 10px 0 10px 0;
  background-color: $secondary-bg;
  top: 0;
}

.search-container {
  width: 500px;
  margin: auto;
  margin-top: 0;
  padding: 0;

  input {
    width: calc(100% - 30px);
    font-size: 26px;
    margin: 0;
    background-color: lighten($secondary-bg, 10);
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: $text-color;

    transition: {
      property: background-color;
      duration: 0.2s;
    }
  
    &:hover {
      background-color: lighten($secondary-bg, 15);
    }
  }
}

.cards-container {
  width: 550px;
  margin: auto;
  margin-top: 20px;
}
